<h2>Statistics</h2>
<article id="statistics-container">
  <section id="statistics-summary">
    <h3>Average TV Special Runtime:</h3>
    <center><%= @average_runtime %></center>
    <h3>Total TV Specials:</h3>
    <center><%= @specials_count %></center>
    <h3>Average Comedian Age:</h3>
    <center><%= @average_age %></center>
  </section>
  <section id="birthplaces-summary">
    <h3>Comedian Birthplaces</h3>
    <ul id="unique-cities">
      <% @unique_cities.each do |city| %>
        <li>&#8226 &nbsp<%= city %></li>
      <% end %>
    </ul>
  </section>
</article>
<main>
  <section id="comedian-heading">
    <div class="comedians-heading-title">
      <h2>Comedians</h2>
      <button onclick="location.href='/comedians/new'">+ Add a comedian</button>
    </div>
    <% @path = request.fullpath.partition('=').last %>
    <% if ["", "name", "age", "city"].include?(@path) %>
      <fieldset id="comedian-sort">
        <legend>Sort Comedians</legend>
        <div class="fieldgroup">
          <label for="sort-id">ID</label>
          <input 
            type="radio"
            id="sort-id"
            onclick="document.location='/comedians';" 
            <%= "checked" if @path ==  "" %> />
          <label for="sort-name">Name</label>
          <input 
            type="radio"
            id="sort-name"
            onclick="document.location='/comedians?sort=name';"
            <%= "checked" if @path ==  "name" %> />
          <label for="sort-age">Age</label>
          <input 
            type="radio" 
            id="sort-age"
            onclick="document.location='/comedians?sort=age';"
            <%= "checked" if @path ==  "age" %> />
          <label for="sort-city">City</label>
          <input 
            type="radio"
            id="sort-city"
            onclick="document.location='/comedians?sort=city';"
            <%= "checked" if @path ==  "city" %> />
        </fieldgroup>
      </fieldset>
    <% end %>
  </section>
  <section class="comedians-container">
    <% @comedians.each do |comedian| %>
      <article id="comedian-<%= comedian.id %>-container">
        <section class="comedian-info">
          <h3>
            <a href="/comedians/<%= comedian.id %>"><%= comedian.name %></a>
            <a id="delete-comedian-<%= comedian.id %>"
              href="/comedians/delete/<%= comedian.id %>">
              <img src="/images/trash.svg"
                class="delete-comedian"
                title="Delete <%= comedian.name %>">
            </a>
          </h3>
          <p>Age: <%= comedian.age %> &nbsp 
            <% if request.fullpath.start_with?("/comedians?age") %>
              <a href="/comedians">Remove Filter</a>
            <% else %>
              <a href="/comedians?age=<%= comedian.age %>">Filter by age</a>
            <% end %>
          </p>
          <p>Birthplace: <%= comedian.city %></p>
          <p>Total Specials: <%= comedian.specials.count %></p>
          <button 
            style="display: <%= comedian.specials.count > 3 ? "inline" : "none" %>"
            id="comedian-<%= comedian.id %>-toggle"
            onClick="toggleSpecialsContainerHeight(<%= comedian.id %>)">
            Show All
          </button>
          <a id="add-comedian-<%= comedian.id %>-special" 
            href="/specials/new/<%= comedian.id %>">
            <span>Add a TV special</span>
            <img src="/images/add.svg"
              class="add-special"
              title="Add TV special for <%= comedian.name %>">
          </a>
        </section>
        <section 
          id="comedian-<%= comedian.id %>-specials" 
          class="comedian-specials"
          style="height: 130px">
          <% comedian.specials.each do |special| %>
            <div id="special-<%= special.id %>-container" class="special-container">
              <img alt="<%= special.title %> thumbnail" 
                src="<%= ["", nil].include?(special.thumbnail) ? "/images/no_thumbnail.jpeg" : special.thumbnail %>" >
              <div class="special-text">
                <h4><%= special.title %></h4>
                <p>Length: <%= special.runtime %> minutes</p>
                <a id="delete-special-<%= special.id %>" 
                  href="/specials/delete/<%= special.id %>">
                  <img src="/images/trash.svg" title="Delete <%= special.title %>">
                </a>
              </div>
            </div>
          <% end %>
        </section>
      </article>
    <% end %>
  <section>
</main>