<html>

<head>
  <title>Laugh Tracks</title>
  <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Knewave|Oswald:500,700|Raleway" rel="stylesheet"></head>

<body>

  <h1>Comedians</h1>
  <% @comedians.each do |comedian| %>
    <article>
      <div class="comedian-info">
        <h3><%= comedian.name %></h3>
        <% age = @today.year - comedian.birthdate.year %>
        <% age -= 1 if @today < comedian.birthdate + age.years %>
        <p>Age: <%= age %></p>
        <p>Birthplace: <%= comedian.city %></p>
        <p>Total Specials: </p>
      </div>
      <div class="specials-container">
        <% comedian.specials.first(3).each do |special| %>
          <div class="special-info">
            <img alt="<%= special.title %> thumbnail" 
              src="<%= special.thumbnail ? special.thumbnail : "/images/no_thumbnail.jpeg" %>"/>
            <div class="special-text">
              <h4><%= special.title %></h4>
              <p>Length: <%= special.runtime %> minutes</p>
            </div>
          </div>
        <% end %>
      </div>
    </article>
  <% end %>

</body>